* {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.LogoAlura {
    margin-top: 40px;
    margin-left: 40px;
    gap: 40px;
}

main {
    display: flex;
    margin-left: 240px;
    margin-top: 885px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 168px;
    margin-left: 240px;
    text-transform: lowercase;
    width: 680px;
    height: 48px;
    resize: none;
}

::placeholder {
    color: #0A3871;
}

.text-area:focus {
    outline: none;
}

.mensagem {
    background: red;
    background-image: url(/html/img/High\ quality\ products\ 1\ 1.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 32px;
    color: #0A3871;
    position: relative;
    height: 944px;
    width: 400px;
    resize: none;
}

.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btn-descriptografar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-criptografar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}

.informacao {
    color: #495057;
    font-size: 18px;
}